name: CI/CD Pipeline - Docker to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker image
        run: docker build -t yogeshpatil22/telecomm-iac:latest ./docker

      - name: Push Docker image
        run: docker push yogeshpatil22/telecomm-iac:latest